<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CMS - Express</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDyyh7bJJR8gmWUVgWLUMUYJssn2eA228&callback=initMap"async defer></script>
    <script src="js\simple.js" type="text/javascript"></script>
</head>

<body>
	<div id="header_wrapper">
		<div id="header">
			<li id="sitename"><a href="#">&lt;CodeBook/&gt;</CodeBook></a></li>
			<form class="form-inline">
				{{!-- <div class="form-control mr-sm-2"> --}}
					<a class="btn btn-default" href="/event">Events</a>
				{{!-- </div> --}}
			</form>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group row">
								<label for="user-id" class="col-sm-3 col-form-label">Profile ID</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="user-id" placeholder="3">
								</div>
							</div>
							<div class="form-group row">
								<label for="user-zip" class="col-sm-3 col-form-label">Zip Code</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="user-zip" placeholder="90210">
								</div>
							</div>
							<div class="form-group row">
								<label for="user-email" class="col-sm-3 col-form-label">Email Address</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="user-email" placeholder="CodeIsLife100@gmail.com">
								</div>
							</div>
							<div class="form-group row">
								<label for="user-lang" class="col-sm-3 col-form-label">Languages</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="user-lang" placeholder="Tell me more..">
								</div>
							</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="closeBTN btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="scBTN btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<br>
	<div class="container">
		<div id=map class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>MAP</h1>
				<div id="map" class="col-md-12">

				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<h1>Profiles</h1>
				<div id="profile-list" class="col-md-12">
					{{#each users}}
					<div class="card mb-6 col-md-offset-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="card-header col-md-12">
								<h5 class="card-user">{{this.name}}</h5>
							</div>
							<div class="col-md-12">
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Location: {{this.zip}}</li>
										<li class="list-group-item">Known Languages: {{this.languages}}</li>
										<li class="list-group-item">Email: {{this.email}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<br>
					{{/each}}
				</div>
			</div>
		</div>
		<!--putting a comment to initialize profile landscape change-->
	</div>
	<!-- Custom Script -->
	{{!--
	<script src="js/main.js" type="text/javascript"></script> --}}

</body>

</html>