body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: linear-gradient(black, #252120);
}
#header_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#1c1c1e;
 border-bottom: white dotted;
}
#header
{
 width:980px;
 margin:0px auto;
 padding:0px;
 height:85px;
}
#header li
{
 list-style-type:none;
 float:left;
 text-align:left;
 color:white;
}
#header #sitename
{
 margin-top:25px;
}
#header #sitename a
{
 color:white;
 text-decoration:none;
 font-size:30px;
 font-weight:900;
}
#header form
{
 margin-top:15px;
 float:right;
}
#header form li
{
 font-size:13px;
 margin-left:15px;
}
#header form li a
{
 color:#A9BCF5;
 text-decoration:none;
}
#header form input[type="text"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 height:25px;
 padding-left:3px;
}
#header form input[type="password"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 height:25px;
 padding-left:3px;
}
#header form input[type="submit"],
#submit
{
 list-style-type:none;
 height:25px;
 margin-top:20px;
 background-color:#A92f41;
 color:white;
}
#main{
    margin: 5% auto;
    text-align: center;
}
#title{
    color: white;
    font-size: large;
}
#aboutUs{
    font-size: large;
    font-weight: bold;
    color: #e5dfc5;
    line-height: 3em;
}